<div class="container-fluid">
    <ui-test></ui-test>
    <h3>UI-Router Sample App</h3>
    <p>Welcome to the sample app!</p>
    <p>carbon 是一个用来生成代码截图的网站，通常大家在 Twitter 上看到的代码美图就是用它来做的。carbon 支持多种颜色主题和几乎所有编程语言的高亮显示</h4>
    <p>carbon 是一个用来生成代码截图的网站，通常大家在 Twitter 上看到的代码美图就是用它来做的。carbon 支持多种颜色主题和几乎所有编程语言的高亮显示carbon 是一个用来生成代码截图的网站，通常大家在 Twitter 上看到的代码美图就是用它来做的。carbon 支持多种颜色主题和几乎所有编程语言的高亮显示 </p>
    <h4>目前流行的基于 BS4 的控制面板 UI 框架 tabler 相继推出了 React 和 Angular 的组件库</h4>
    <button ng-click="ctrl.switchBtn()">展开/收起</button>
    <ul class="welcome" ng-show="ctrl.list">
        <li ng-repeat="item in ::ctrl.menuItems track by $index">{{item.name}}</li>
    </ul>
</div>
